HIGHLIGHTSMITH_API_PORT=4010
HIGHLIGHTSMITH_API_HOST=127.0.0.1
HIGHLIGHTSMITH_ANALYZER_PORT=9010
HIGHLIGHTSMITH_ANALYZER_HOST=127.0.0.1
HIGHLIGHTSMITH_ANALYZER_URL=http://127.0.0.1:9010
HIGHLIGHTSMITH_DB_PATH=.local/highlightsmith.sqlite3
HIGHLIGHTSMITH_MEDIA_CACHE=.local/media
VITE_HIGHLIGHTSMITH_API_BASE_URL=http://127.0.0.1:4010
