VAEXCORE_PULSE_API_HOST=127.0.0.1
VAEXCORE_PULSE_API_PORT=4010
VAEXCORE_PULSE_ANALYZER_HOST=127.0.0.1
VAEXCORE_PULSE_ANALYZER_PORT=9010
VAEXCORE_PULSE_ANALYZER_URL=http://127.0.0.1:9010
VAEXCORE_PULSE_ANALYZER_DATABASE_PATH=.local/vaexcore-pulse.sqlite3
VITE_VAEXCORE_PULSE_API_BASE_URL=http://127.0.0.1:4010
