node_modules
dist
.turbo
.DS_Store

apps/desktop/dist
apps/desktop/src-tauri/target
apps/desktop/src-tauri/gen

services/analyzer/.venv
services/analyzer/.mypy_cache
services/analyzer/.pytest_cache
services/analyzer/__pycache__
services/analyzer/**/*.pyc

.local
*.sqlite3
*.db
